*
    margin: 0px
    padding: 0px
    box-sizing: border-box

#app
    display: flex

.main-content
    margin: 30px 0px 30px 45px
    width: 100%

.content
    overflow: auto
    height: 600px
    width: 100%